

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* canvas  */

#canvas {
  
  /* margin-left:50px;  */
  width: 15%;
  animation: myanima 30s infinite;
  
}

.animation{
  transform: rotate(0.5turn);

}

@keyframes myanima {
	80% {
		transform: translatex(0) translatex(100)
	}
  15% {
		transform: translatex(50) translatey(50)
	}
  15% {
		transform: translatey(50) translatex(50)
	}


	
}

div #canvas{align-self: center;}


/* Breadcrumb */

ul.breadcrumb {
  padding: 10px 18px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 2.5rem;
 
 
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: rgb(117, 117, 121);
  content: "/";
  text-shadow: 5px 5px #902923;
  
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
  font-size: 2.5rem;
}
ul.breadcrumb li a:hover {
  color: #902923;
}

.page1{margin:10px;}
.page2{margin:10px;}

.root {
  background-color: #a22c29;
  color: white;
  width: 16%;
  text-align: center;
}



/* cards */

.list-characters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: none;
  background-color: white;
 
  
  
   
}
.list-characters img {
  width: 50vw;
  height: auto;
  margin: 10px;
 

}

.list-characters li{
  color:#902923;
  list-style-type: none;
  text-align: center;
  background-color: white;

  }

  .list-characters p{text-align: center;}


/* nav */
.container{
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 20vh;  
}

/* search  */

#search-form button{

  color: black;
  padding : 10px;
  border: none;
  border-bottom: rgb(6, 6, 6) 2px solid;
  border-top: rgb(6, 6, 6) 2px solid;
  font-family: Italic;
  cursor: pointer;
  
}


#search-form input{
  padding: 10px;

}
 /* Events */

 .events{
  font-family: Bangers;
  text-shadow: 5px 5px red;
 }

.event-description img
{
  width: 80vw;
  height: auto;
  /* margin: 10px; */
  /* float: left; */
  /* padding-left: 10%; */
  align-items: center;
  


}
.event-description p
{
  clear: left;
  
}
.event-description p 
{
  clear: left;

}
.descriptionE{
  margin: 5%;
  padding-bottom: 5%;
}



.event-description{
  text-align: center;
  list-style-type: none;
  font-size: large;
  align-items: center;
 
}

.event-description li
{
  border: #902923;
  background-color: black;
  color: antiquewhite;
  margin: 3%;
}

/* title */

.characters{font-size: large;
text-align: center;
font-family: Bangers;
}

.events{text-align: center;}

 /* footer */

 footer{text-align: center;}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .list-characters img {
    width: 30vw;
    height: auto;
  }

  .list-characters {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    row-gap: 25px;
    background-image: url('../public/images/Diseño\ sin\ título.png');
    background-repeat:inherit;
    background-color: black;
   
 
  }
  .characters{font-size: x-large;
    text-align: center;
    }
    .page1{margin:25x;}
    .page2{margin:25px;}

    /* events */
    .event-description img
{
  width: 40vw;
  height: auto;
  margin: 10px;

}

.event-description{
  text-align: center;
  list-style-type: none;
  font-size: large;
  align-items: center;
}

/* canvas */

#canvas {
 
   /* margin-left: 800px;  */
   width: 10%;
}


.animation{
  transform: rotate(0.5turn);

}

@keyframes myanima {
	80% {
		transform: translatex(0) translatex(1000)
	}
  15% {
		transform: translatex(50) translatey(50)
	}
  15% {
		transform: translatey(50) translatex(50)
	}


    
}
}